
server:
  port: 9090

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/rehab_talent_db?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
          
mybatis:
  configuration:
    map-underscore-to-camel-case: true